<div class="home__container">
    <app-card 
    gameCover="https://image.api.playstation.com/pr/bam-art/209/727/33ef2835-86f5-431b-8544-f900310e1755.jpg?w=440&thumb=false"    
    gameLabel="Console"    
    gameType="Digital"    
    gamePrice="R$ 349,90"></app-card>

    <app-card gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202507/2917/3bcfe09c4fbb3890f6c45a5cf9464570e36f2b08770187a2.png?w=440&thumb=false"    
    gameLabel="Digital"    
    gameType="PS5"    
    gamePrice="R$ 499,50"></app-card>

    <app-card gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202505/3100/ef79f649e45961a7e6342ebf26bc827b8b9603d69b2fdb5c.png?w=440&thumb=false"    
    gameLabel="Digital"    
    gameType="PS5"    
    gamePrice="Gratuito"></app-card>
</div>
